* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.8em;
}

a {
    text-decoration: none;
    color: #333;
}

h1,
h2,
h3 {
    padding-bottom: 20px;
    line-height: 1.2em;
}

p {
    margin: 10px 0px;
}

.container {
    margin: auto;
    max-width: 1100px;
    overflow: auto;
    padding: 0 20px;
}

.highlight {
    color: #f7c08a;
}

.btn {
    display: inline-block;
    font-size: 19px;
    color: #fff;
    background: #333;
    padding: 14px 21px;
    border: none;
    cursor: pointer;
    border-radius: 7px;
}

.btn:hover {
    background: #f7c08a;
    color: #333;
}

#features .btn,
#contact-info .btn {
    cursor: default;
}

.bg-light {
    background: #f4f4f4;
    color: #333;
}

#contact-form.bg-light {
    background: #e0f0ff;
    color: #222;
}

.bg-dark {
    background: #333;
    color: #fff;
}

.lead {
    font-size: 21px;
}

.clr {
    clear: both;
}

.box {
    width: 33.3%;
    float: left;
    padding: 50px;
    text-align: center;
    height: 100%;
}

.box i {
    margin-bottom: 20px;
}

.py-1 {
    padding: 10px 0;
}

.py-2 {
    padding: 20px 0;
}

.py-3 {
    padding: 30px 0;
}

.head-l {
    font-size: 40px;
    line-height: 1.2em;
}

#navbar {
    background: #333;
    color: #fff;
    overflow: auto;
}

#navbar a {
    color: #fff;
}

#navbar h1 {
    float: left;
    padding-top: 20px;
}

#navbar .logo a {
    color: #f7c08a;
}

#navbar ul {
    list-style: none;
    float: right;
}

#navbar ul li {
    float: left;
}

#navbar ul li a {
    display: block;
    padding: 20px;
    text-align: center;
}

#navbar ul li a:hover,
#navbar ul li .current {
    background: #444;
    color: #f7c08a;
}

#main-footer {
    background: #444;
    color: #fff;
    text-align: center;
    padding: 25px;
    padding-bottom: 5px;
}

#main-footer h2 {
    font-weight: lighter;
}

#showcase {
    background: linear-gradient(rgb(255, 255, 255, 0.4), rgb(255, 255, 255, 0.4)), url('/res/img/hotel-day.jpg') no-repeat center center/cover;
    height: 100%;
}

#showcase .showcase-content {
    color: #fff;
    text-align: center;
    padding-top: 170px;
    overflow: auto;
}

#showcase .showcase-content h1 {
    font-size: 65px;
    line-height: 1.6em;
}

#showcase .showcase-content p {
    padding: 40px;
    padding-bottom: 90px;
    line-height: 1.7em;
}

#home-info {
    height: 500px;
}

#home-info .info-img {
    float: left;
    width: 50%;
    background: url('/res/img/hotel-interior.jpg') center center/cover;
    min-height: 100%;
}

#home-info .info-content {
    background: linear-gradient(rgb(255, 255, 255, 0.2), rgb(255, 255, 255, 0.1)), url('/res/img/logo.png') center center/cover no-repeat;
    float: right;
    text-align: center;
    padding: 90px 30px;
    height: 100%;
    width: 50%;
    overflow: hidden;
}

#home-info .info-content p {
    padding: 30px;
}

#about-info .info-left {
    width: 50%;
    float: left;
    min-height: 100%;
}

#about-info .info-right {
    float: right;
    width: 50%;
    min-height: 100%;
}

#about-info .info-right img {
    display: block;
    margin: auto;
    width: 70%;
}

#testimonials {
    max-height: 1200px;
    background: url('/res/img/hotel-night.jpg') center center/cover no-repeat;
    padding-top: 120px;
    padding-bottom: 90px;
    overflow: auto;
}

#testimonials .testimonial img {
    width: 100px;
    display: block;
    float: left;
    margin-right: 20px;
    border-radius: 60%;
    opacity: 0.8;
}

#testimonials h2 {
    text-align: center;
    padding-bottom: 40px;
}

#testimonials .testimonial {
    padding: 30px;
    margin-bottom: 40px;
    max-width: 900px;
    margin: auto;
    border-radius: 10px;
    opacity: 0.9;
}

#testimonials .container h2 {
    max-width: 500px;
    margin: auto;
    margin-bottom: 30px;
}

#testimonials .container h3 {
    text-align: center;
}

#testimonials a.btn {
    font-size: 25px;
    color: #f17d09;
}

#testimonials a.btn:hover {
    color: #333;
}

#contact-form .form-group {
    margin-bottom: 20px;
}

#contact-form label {
    display: block;
    margin-bottom: 5px;
}

#contact-form input,
#contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px #ddd solid;
}

#contact-form input:focus,
#contact-form textarea:focus {
    outline: none;
    border-color: #f7c08a;
}

#contact-form textarea {
    height: 200px;
}

#contact-form h3 {
    padding: 10px;
}

.disp500 {
    display: none;
}

.disp900 {
    display: none;
}


/* For Media Queries */

@media(max-width:1200px) and (min-width:900px) {
    .hide9-12 {
        display: none;
    }
}

@media(max-width:500px) {
    .nodisp500 {
        display: none !important;
    }
    .disp500 {
        display: inherit !important;
    }
    #showcase .showcase-content {
        padding-top: 20px !important;
    }
    #showcase .showcase-content p {
        padding: 10px !important;
        padding-bottom: 20px !important;
    }
    #home-info .info-content p {
        padding: 15px !important;
    }
    .box {
        width: 100% !important;
    }
}

@media(max-width:900px) {
    .disp900 {
        display: inherit;
    }
    .nodisp900 {
        display: none;
    }
    .container {
        max-width: 95%;
    }
    .highlight {
        color: #f17d09;
    }
    .box {
        width: 100%;
    }
    #showcase {
        min-height: 500px;
    }
    #showcase .showcase-content {
        padding-top: 80px;
    }
    #showcase .showcase-content h1 {
        font-size: 55px;
    }
    #showcase .showcase-content p {
        padding: 30px;
        padding-bottom: 40px;
    }
    #home-info .info-content {
        background: linear-gradient(rgba(255, 255, 255, 0.9), rgb(255, 255, 255, 0.1)), url('/res/img/hotel-interior.jpg') center center/cover no-repeat;
        float: left;
        width: 100%;
    }
    #home-info .info-content p {
        color: #222;
        font-weight: bold;
        padding: 35px;
    }
    #home-info .info-content h2 {
        color: #000033;
        font-weight: bolder;
        font-size: 2.1rem;
    }
    #about-info {
        background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.5)), url('/res/img/logo.png') no-repeat center center/cover;
    }
    #about-info .info-left {
        width: 100%;
        padding: 50px;
        text-align: justify;
    }
    #testimonials {
        overflow: hidden;
        padding-top: 80px;
        padding-bottom: 40px;
    }
}