* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6em;
}

a {
    text-decoration: none;
    color: #333;
}

h1,
h2,
h3 {
    padding-bottom: 20px;
}

p {
    margin: 10px 0px;
}

.container {
    margin: auto;
    max-width: 1200px;
    overflow: auto;
    padding: 0 20px;
}

.highlight {
    color: #f7c08a;
}

.btn {
    display: inline-block;
    font-size: 19px;
    color: #fff;
    background: #333;
    padding: 14px 21px;
    border: none;
    cursor: pointer;
    border-radius: 7px;
}

.btn:hover {
    background: #f7c08a;
    color: #333;
}

#features .btn {
    cursor: default;
}

.bg-light {
    background: #f4f4f4;
    color: #333;
}

.bg-dark {
    background: #333;
    color: #fff;
}

.lead {
    font-size: 21px;
}

.clr {
    clear: both;
}

.box {
    width: 33.3%;
    float: left;
    padding: 50px;
    text-align: center;
}

.box i {
    margin-bottom: 20px;
}

.py-1 {
    padding: 10px 0;
}

.py-2 {
    padding: 20px 0;
}

.py-3 {
    padding: 30px 0;
}

.head-l {
    font-size: 40px;
}

#navbar {
    background: #333;
    color: #fff;
    overflow: auto;
}

#navbar a {
    color: #fff;
}

#navbar h1 {
    float: left;
    padding-top: 20px;
}

#navbar .logo a {
    color: #f7c08a;
}

#navbar ul {
    list-style: none;
    float: right;
}

#navbar ul li {
    float: left;
}

#navbar ul li a {
    display: block;
    padding: 20px;
    text-align: center;
}

#navbar ul li a:hover,
#navbar ul li .current {
    background: #444;
    color: #f7c08a;
}

#main-footer {
    background: #444;
    color: #fff;
    text-align: center;
    padding: 25px;
}

#main-footer h2 {
    font-weight: lighter;
}

#showcase {
    background: linear-gradient(rgb(255, 255, 255, 0.4), rgb(255, 255, 255, 0.4)), url('/res/img/hotel-night.jpg') no-repeat center center/cover;
    height: 700px;
}

#showcase .showcase-content {
    color: #fff;
    text-align: center;
    padding-top: 170px;
}

#showcase .showcase-content h1 {
    font-size: 65px;
    line-height: 1.3em;
}

#showcase .showcase-content p {
    padding-bottom: 20px;
    line-height: 1.7em;
}

#home-info {
    height: 500px;
}

#home-info .info-img {
    float: left;
    width: 50%;
    background: url('/res/img/hotel-interior.jpg') center center/cover;
    min-height: 100%;
}

#home-info .info-content {
    background: linear-gradient(rgb(255, 255, 255, 0.2), rgb(255, 255, 255, 0.1)), url('/res/img/logo.png') center center/cover no-repeat;
    float: right;
    text-align: center;
    padding: 90px 30px;
    height: 100%;
    width: 50%;
    overflow: hidden;
}

#home-info .info-content p {
    padding: 30px;
}

#about-info .info-left {
    width: 50%;
    float: left;
    min-height: 100%;
}

#about-info .info-right {
    float: right;
    width: 50%;
    min-height: 100%;
}

#about-info .info-right img {
    display: block;
    margin: auto;
    width: 70%;
}

#testimonials {
    max-height: 1200px;
    /* min-height: 700px; */
    background: url('/res/img/hotel-day.jpg') center center/cover no-repeat;
    padding-top: 120px;
    padding-bottom: 90px;
    overflow: auto;
}

#testimonials .testimonial img {
    width: 100px;
    display: block;
    float: left;
    margin-right: 20px;
    border-radius: 60%;
    opacity: 0.8;
}

#testimonials h2 {
    text-align: center;
    padding-bottom: 40px;
}

#testimonials .testimonial {
    padding: 30px;
    margin-bottom: 40px;
    max-width: 900px;
    margin: auto;
    border-radius: 10px;
    opacity: 0.9;
}

#testimonials .container h2 {
    max-width: 500px;
    margin: auto;
    margin-bottom: 30px;
}