@media(max-width:768px) {
    .navbar {
        flex-direction: column;
        height: 120px;
        width: 100vw;
        padding: 20px 1vw;
    }
    .navbar a {
        padding: 10px;
        margin: 0 3px;
    }
    .hero {
        height: 100vh;
    }
    .hero.blog,
    .hero.blogpost {
        height: 40vh;
    }
    .hero .content {
        justify-content: flex-end;
        padding-bottom: 30px;
    }
    .footer .social>* {
        margin: auto 7px;
    }
    .flex-items {
        flex-direction: column;
    }
    .flex-columns .column,
    .flex-grid .column {
        flex: 100%;
        max-width: 100%;
    }
    .flex-columns .col-img {
        display: none;
    }
    /* HOME PAGE PICTURE DISPLAY COLUMN CORRECTION */
    .solutions.flex-columns .col-text {
        background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.2)), url('/assets/img/home/people.jpg') center center/cover no-repeat;
    }
    #contact.flex-columns .col-text {
        background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.2)), url('/assets/img/home/contact.jpg') center center/cover no-repeat;
    }
    #blog.flex-columns .col-text {
        background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.2)), url('/assets/img/home/blog.jpg') center center/cover no-repeat;
    }
    .team img {
        width: 75%;
    }
    .callback-form input,
    .callback-form button {
        width: 97%;
    }
    /* BLOG PAGE PICTURE DISPLAYCOLUMN CORRECTION */
    #blog1.flex-columns .col-text {
        background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.7)), url('/assets/img/blog/blog1.jpg') center center/cover no-repeat;
    }
    #blog2.flex-columns .col-text {
        background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6)), url('/assets/img/blog/blog2.jpg') center center/cover no-repeat;
    }
    #blog3.flex-columns .col-text {
        background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.7)), url('/assets/img/blog/blog3.jpg') center center/cover no-repeat;
    }
    /* END OF CORRECTIONS */
}