* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.65em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
}

.bg-light {
    background: #eef;
    color: #333;
}

.bg-dark {
    background: #333;
    color: #fff;
}

.nav-container {
    background: #333;
    overflow: auto;
}

.nav-container h2 {
    display: inline-block;
    font-size: 25px;
    text-align: left;
    padding: 10px 10px 10px 70px;
    color: #f7c08a;
}

.navigation {
    list-style: none;
    float: right;
    padding-right: 70px;
}

.navigation li {
    text-align: center;
    font-size: 25px;
    font-weight: lighter;
    max-width: 120px;
    float: left;
    margin: auto;
}

.navigation a {
    color: #fff;
    padding: 24px 20px;
}

.current a {
    color: #f7c08a;
    background: #444;
}

.current:hover {
    cursor: none;
}

.current a:hover {
    cursor: none;
}

.link a:hover {
    cursor: pointer;
    background: #444;
    text-decoration: none;
}

.showcase {
    background: linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, .4)), url('../img/hotel-night.jpg') no-repeat bottom center/cover;
    /* opacity: 0.7; */
    text-align: center;
    margin: auto;
    padding-top: 50px;
    height: 700px;
    overflow: hidden;
}

.showcase h1 {
    font-size: 90px;
    color: white;
    padding: 50px;
}

.showcase p {
    max-width: 900px;
    font-size: 23px;
    color: rgb(20, 20, 20);
    margin: auto;
    padding-bottom: 130px;
}

.highlight {
    color: #f7c08a;
}

.btn {
    margin: auto;
    max-width: 300px;
    background-color: #333;
    padding: 15px 2px;
    text-align: center;
    border-radius: 7px;
}

.btn h3 {
    font-size: 20px;
    color: #f7c08a;
    margin: auto;
    padding: 0px 10px;
}

.guestspeak .btn h3 {
    color: #eee;
}

.btn:hover {
    background-color: #f7c08a;
    cursor: pointer;
}

.btn:hover h3 {
    color: #333;
}

#show1 {
    background: url('/res/img/hotel-interior.jpg') no-repeat center center/cover;
    opacity: 0.8;
}

#show2 {
    background: linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, .4)), url('/res/img/logo.png') center center/cover no-repeat;
    background-color: #ccc;
    z-index: -1;
    overflow: auto;
}

#show2 h2 {
    font-size: 67px;
    line-height: 1.3em;
    padding: 20px;
}

#show2 p {
    width: 80%;
    margin: auto;
    font-size: 25px;
    padding: 20px;
    padding-bottom: 70px;
}

.show {
    float: left;
    height: 850px;
    width: 50%;
    text-align: center;
    padding-top: 70px;
}

.clear {
    white-space: pre-line;
}

#features {
    display: inline-block;
}

.feat {
    width: 33%;
    display: inline-block;
    text-align: center;
    height: 350px;
    padding-bottom: 20px;
}

#features .feat {
    opacity: 0.75;
}

.feat i {
    padding: 70px 20px 10px 20px;
}

.feat:hover {
    opacity: 1.7;
    background: #f7c08a;
    color: #333;
}

.feat h3 {
    padding: 20px;
}

.tocontact {
    height: 150px;
    padding: 50px;
    margin: auto;
    background: #9df0e5;
}

.tocontact .btn {
    max-width: 200px;
}

.about {
    padding: 10px 190px;
    padding-right: 60px;
    padding-bottom: 100px;
}

.about img {
    float: right;
    padding: 0px 0px 0px 80px;
    width: 380px;
}

.about h2 {
    font-size: 40px;
    padding-top: 50px;
}

.about p {
    text-align: justify;
    padding: 10px 500px;
    padding-left: 0;
}

.guestspeak {
    background: url('../img/hotel-day.jpg') center center/cover no-repeat;
    padding: 100px 50px;
    padding-top: 50px;
}

.guestspeak h2 {
    text-align: center;
    font-size: 50px;
    padding: 10px;
    background: #eee;
    margin-left: 350px;
    margin-right: 350px;
    margin-bottom: 20px;
}

.guestspeak p {
    padding: 20px;
    padding-bottom: 50px;
    background: #f7c08a;
    margin: 0px 100px;
    border-radius: 10px;
}

.guestspeak p:hover {
    background: #333;
    color: #f7c08a;
}

.guestspeak p img {
    border-radius: 75px;
    float: left;
    width: 130px;
    padding: 20px;
    padding-top: 0px;
    padding-left: 0px;
    padding-bottom: 20px;
}

#contact-form {
    padding: 30px 0px;
}

.form-container {
    padding: 10px 0;
    max-width: 1000px;
    overflow: auto;
    margin: auto;
}

#contact-form h2 {
    font-size: 65px;
    padding-top: 5px;
}

#contact-form p {
    font-size: 20px;
    padding-bottom: 30px;
    font-weight: bolder;
}

#contact-form .form-group {
    margin-bottom: 20px;
}

#contact-form label {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#contact-form input,
#contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px #ddd solid;
    border-radius: 7px;
}

#contact-form textarea {
    height: 200px;
}

#contact-form input:focus,
#contact-form textarea:focus {
    outline: none;
    border-color: #f7c08a;
}

#hotel-details {
    margin: auto;
    border: #333 2px solid;
}

#hotel-details .feat p {
    font-weight: bolder;
}

#hotel-details .feat h3 {
    font-size: 40px;
    font-weight: bolder;
}

.footer {
    background: #444;
    text-align: center;
    color: #eee;
}

.footer h4 {
    font-size: 25px;
    font-weight: lighter;
    padding: 30px;
}