$max-width: 1250px;
$col-pri: #ffbc00;
$col-light: #f4f4f4;
$col-dark: #333;
$col-sec: #ccc;
$bg-img: linear-gradient(to bottom right, rgba(255, 222, 0, 0.63),  rgba(40,40,40,0.1), rgba(8, 111, 228, 0.7)), url('../img/showcase.jpg');

@function text-col($col){
    @if (lightness($col)>50) {
        @return #000;
    }
    @else{
        @return #fff;
    }
}