@import 'var';
@import 'util';


*{
    margin: 0;
    padding: 0;
    // box-sizing: border-box;
}

body{
    font-family: 'Dosis', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.65;
    background-color: #fff;
}

a{
    text-decoration: none;
    color: $col-dark;
}

ul{
    list-style: none;
}

h{
    &2,
    &3,
    &4{
        text-transform: uppercase;
    }
}

img{
    width: 100%;
}

#logo{
    width: 70px;
    height: 70px;
}

#main-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.5rem;
    ul{
        display: flex;
        li{
            padding: 1rem 1.5rem;
            a{
                color: #fff;
                text-transform: uppercase;
                border-bottom: 3px transparent solid;
                text-decoration: none;
                padding-bottom: 0.5rem;
                transition: border-color 0.5s;
                &:hover{
                    border-color: $col-sec;
                }
                &.current{
                    border-color: $col-pri;
                }
            }
        }
    }
}

#header{
    &-home{
        background: linear-gradient(to bottom right, rgba(255, 222, 0, 0.63),  rgba(40,40,40,0.1), rgba(8, 111, 228, 0.7)), $bg-img no-repeat center right/cover;
        height: 100vh;
        color: #fff;
        .header-content{
            text-align: center;
            padding-top: 30vh;
            h1{
                font-size: 4rem;
                line-height: 1.2;
            }
        }
    }

    &-inner{
        background: $bg-img no-repeat 20% 30%/cover;
        height: 5.7rem;
        border-bottom: $col-pri 3px solid;
    }
}

#main-footer{
    background-color: $col-dark;
    color: #fff;
    height: 5rem;
    .footer-content{
        display: flex;
        justify-content: space-between;
        height: 100%;
        align-items: center;
        .social .fab{
            margin: 0 0.5rem;
            color: #fff;
            border: 2px #fff solid;
            border-radius: 50%;
            height: 1.95rem;
            width: 1.95rem;
            line-height: 1.95rem;
            text-align: center;
            padding: 0.5rem;
            &:hover{
                background-color: $col-pri;
                color: #000;
            }
        }
    }
}

#home{
    &-a{
        .specials{
            margin-top: 3rem;
            display: grid;
            gap: 1rem;
            grid-template-columns: repeat(4,1fr);
            i{
                color: $col-pri;
                padding: 0.4rem 0;
            }
        }
    }

    &-b{
        .stats{
            display: grid;
            grid-template-columns: repeat(4,1fr);
            li{
                line-height: 2;
                &.stats-title{
                    font-size: 1.5rem;
                }
                &.stats-val{
                    font-size: 2rem;
                    font-weight: bold;
                }
            }
            div{
                padding: 3rem 0;
                &:nth-child(odd){
                    background-color: $col-light;
                }
                &:nth-child(even){
                    background-color: $col-sec;
                }
            }
        }
    }

    &-c{
        .process{
            display: grid;
            grid-template-columns: repeat(4,1fr);
            gap: 1.5rem;
            text-align: center;

            &-step{
                position: absolute;
                top: 0;
                right: 0;
                font-size: 1.5rem;
                background-color: $col-pri;
                border-radius: 50%;
                height: 1rem;
                width: 1rem;
                line-height: 1rem;
                padding: 1rem;
                transition: all 1s;
            }
            &-icon{
                border-radius: 50%;
                background-color: $col-dark;
                color: #fff;
                padding: 2rem;
                width: 4.5rem;
                height: 4.5rem;
                line-height: 4.5rem;
                text-align: center;
                position: relative;
                transition: all 0.5s;

                &:hover{
                    background-color: $col-pri;
                    color: $col-dark;
                    width: 5.5rem;
                    height: 5.5rem;
                    line-height: 5.5rem;
                    margin: 1.5rem;
                    .process-step{
                        background-color: $col-dark;
                        color: $col-light;
                    }
                }
            }
        }
    }
}

#about{
    &-a{
        .about-info{
            display: grid;
            grid-template-areas: 
            'bio-img bio bio'
            'aw1 aw2 aw3';
            gap: 1.2rem;
        }
        .bio-img{
            grid-area: bio-img;
        }
        .bio{
            grid-area: bio;
            border-left: 3px solid $col-pri;
            padding: 0.8rem;
        }
        .award-1{
            grid-area: aw1;
        }
        .award-2{
            grid-area: aw2;
        }
        .award-3{
            grid-area: aw3;
        }
        i{
            color: $col-pri;
            margin: 1rem;
        }
    }

    &-b{
        h4{
            margin: auto;
            width: 70vw;
        }

        .progress{
            overflow: hidden;
            height: 0.5rem;
            background: $col-sec;
            border-radius: 7px;
            margin: auto;
            margin-bottom: 1.5rem;
            width: 70vw;
            div{
                height: 100%;
                color: #fff;
                text-align: center;
                background-color: $col-pri;
            }
        }
    }

    &-c{
        .about-logos{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 2rem;
            img{
                width: 70%;
            }
        }
    }

    &-d{
        .testimonials{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 1rem;
            ul{
                list-style: none;
                margin-top: 1rem;
                display: flex;
                align-items: center;
            }
            p{
                border: $col-sec 1px solid;
                border-radius: 7px;
                padding: 0.5rem;
            }
            img{
                height: 50px;
                width: 50px;
                margin-right: 0.5rem;
                border-radius: 50%;
            }
        }
    }
}